<h1>Sign In Page</h1>

<%= form_for @user, url: sessions_path do |f| %>
  <%= f.label :name  %>
  <%= f.text_field :name, placeholder: 'Marios', required: true %>
  <%= f.submit 'Sign In' %>
<% end %>
