<h3 class="my-2 text-center">Sign In</h3>


<div class="form-signin w-25 m-auto">
  <%= form_for @user, url: sessions_path, class: 'form-signin w-25 m-auto' do |f| %>
    <%= f.label :name, class: 'sr-only'  %>
    <%= f.text_field :name, placeholder: 'Put your name here...', required: true, class: 'form-control p-3 h3' %>
    <%= f.submit 'Sign In', class: 'btn btn-lg btn-primary btn-block mt-5' %>
  <% end %>
</div>
