<h1>Show User</h1>

<h3>Events of <%= @user.name %> </h3>
<ol>
  <% @events.each do |event| %>
    <li>
      <%= event.description %>
      <%= link_to 'More Details', event_path(event.id) %>
    </li>
  <% end %>
</ol>


