<table class="table mt-0">
  <tbody>
    <tr>
      <td class="text-center">
        <h3>
          <%= link_to 'Cancel This Event', event_path(@event.id),
        method: :delete,
        class: "btn btn-danger btn-lg px-5",
        data: { confirm: 'You are going to delete this event?' } %>
      </h3>
    </td>
    </tr>
  </tbody>
</table>
