<h1>Events Calendar</h1>

<ol>
<% @events.each do |event| %>
  <li>
    <%= event.description %> |
    <%= event.date %> |
    <%= event.location %> |
    <%= link_to 'Show', event_path(event.id) %>
  </li>
<% end %>
</ol>