// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top {
  top: 40rem;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 5rem;
}